<div *ngIf="loading">
	<div class="spinner">
	<div class="double-bounce1"></div>
	<div class="double-bounce2"></div>
	</div>
</div>

<div class="row" *ngIf="!loading">
	<div class="col-xs-12">
		<code>
			Current average response time: {{average / 1000 | number:'1.2-2'}} seconds
		</code>
	</div>
</div>

<table class="table table-sm" *ngIf="!loading">
	<thead class="thead-inverse">
		<tr>
			<th>Date & time</th>
			<th>Seconds</th>
			<th>Deviation</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let result of results" [ngClass]="{
			'table-danger': result.deviation >= 50,
			'table-warning': result.deviation < 50 && result.deviation >= 20,
			'table-success': result.deviation < -25
		}">
			<td>{{result.timestamp | date:'medium'}}</td>
			<td>{{result.elapsedTime / 1000 | number:'1.2-2'}}</td>
			<td>{{result.deviation | number:'1.0-0'}}%</td>
		</tr>
	</tbody>
</table>	