.container {
	max-width: 520px;
}

h1 {
	color: #ff0000;
	margin-top: 20px;
	&.display-4 {
		@media (max-width: 543px) {
			& {
				font-size: 2.75rem;
			}
		}
	}
	img {
		vertical-align: baseline;
		width: 36px;
	}
}

.logo-container {
	margin-top: -20px;
	margin-bottom: -20px;
	@media (max-width: 543px) {
		& {
			margin: 5px 0;
		}
	}
	img {
		width: 100%;
	}
}

.footer {
	p {
		text-align: right;
	}
}

